<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12 text-center text-uppercase mt-5 mb-3">
            <h4>Список уникальных юзеров</h4>
        </div>
        <div class="col-12">
            <ul style="height: 400px; overflow: auto;" class="list-group  list-group-flush text-center">
                <li th:each="item : ${itemList}" class="list-group-item">
                    <p th:text="${item.ssoid}"></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="index :: footerJs"></div>
</body>
</html>